h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: 600;
    text-align: center;
}
ul {
  background-color: green;
}
.list-style{
  background-color: purple;
  line-height: 40px;
}
ul.list-style{
  background-color: purple;
  line-height: 40px;
  text-decoration: underline;
}
body {
  font-size: 16px;
}
p{
  font-size: 3em;
}
.list-item-1{
  background-color: yellow;
}
.list-item-2{
  background-color: red;
}
.list-item-3{
  background-color: brown;
}