.super-mario {
    width: 200px;
    position: absolute;
   }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    margin-left: 75px;
  }
  
  .baloon {
  margin-left: 225px;
  margin-top: 150px;
  position: absolute;
  z-index: 1
  }
  
  .speach {
    font-size: 25px;
    margin-left: 250px;
    margin-top: 215px;
    position: absolute;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    margin-left: 530px;
    margin-top: 300px;
    position: absolute;
  }