h1, p {
text-align: center;
}

.melhores-sites ul li:hover {
    background-color: blanchedalmond;
}

.melhores-sites ul li:active{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}